@media (max-width: 52em) {
  .container {
    max-width: 60rem;
    gap: 1.2rem;
  }

  .wrapper {
    flex-basis: 25em;
    overflow: hidden;
  }

  .img-preview {
    object-fit: fill;
    transform: scale(1.2);
    width: 120%;
    height: 95%;
  }

  .text-container {
    max-width: 35rem;
    padding: 3.6rem 5.2rem 3.6rem 1.6rem;
  }

  .share-modal {
    top: 43%;
    left: 51%;
    transform: translate(50%, 100%);
  }
}

@media (max-width: 43em) {
  .container {
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 32rem;
    margin: 7rem auto;
  }

  .wrapper {
    flex-basis: auto;
    max-width: 43rem;
    border-radius: 9px 9px 0 0;
  }

  .img-preview {
    transform: none;
  }

  .text-container {
    padding: 2.6rem 3.6rem 2.6rem 2.6rem;
  }

  .share-modal {
    /* 
    position: absolute;position inside container 
    bottom: 0; /* stick to the container’s bottom 
    left: 0;
    width: 100%; /* match container’s width 
    height: 60px;
    border-radius: 12px 12px 0 0;
    transform: none; /* reset your translate 
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1.2rem;
    */

    bottom: 0;
    left: -10%;
    top: 87%;
    transform: translate(10%, 10%);
    width: 100%;
    padding: 3.6rem 2.6rem;
    border-radius: 0 0 9px 9px;
    justify-content: start;
  }

  .share-modal::after {
    display: none;
  }

  .img-wrapper {
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 70%;
    transform: translate(50%, 50%);
  }
}
